
/* .header { */
  /* background-color: white; */
/* } */

/* .button { */
  /* color: #ed4c10;  */
/* } */

.title {
  text-align: center;
  font-size: 4rem;
  margin-top: 1rem;
  color: #ff9d16; /*#ed4c02*/
  font-family: cursive;
}

.details {
  color: white;
  font-size: medium;
  font-family: cursive;
}

.body {
  background-color: #96c2ff;
  margin-top: -2rem;
}

#allProd > h3{
  font-family: cursive; 
}

#allProd button{
  color: white;
  background-color: #ff9d16;
  float: left;
  margin-top: -2rem;
}

h3 {
  font-size: 2rem;
  color: white;
  font-family: cursive;
}

#addNew > h3 {
  font-family: cursive;
  /* float: left; */
  margin-top: -.3rem;
}

#addNew  label {
  font-family: cursive;
  color: white;
  font-size: 1.5rem;

}

#addNew button {
  color: white;
  background-color: #ff9d16;
  /* text-align: right; */
  /* float: left; */
  /* margin-top: -2rem; */
}

#delete > h3 {
  font-family: cursive;
  /* float: left; */
  margin-top: -.3rem;
} 

#delete button {
  color: white;
  background-color: #ff9d16;
}

.search {
  display: flex;
  align-items: center;
  float: right;
  margin-top: -5rem;
}

.search h1 {
  margin-right: 10px;
  font-size: medium;
  color: #ff9d16;
  font-family: cursive;
}

